name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Validate Gradle wrapper
      uses: gradle/actions/wrapper-validation@v4

    - name: Set version
      run: |
        echo "VERSION_CODE=${{ github.run_number }}" >> $GITHUB_ENV
        echo "VERSION_NAME=$(date +'%Y.%m.%d')" >> $GITHUB_ENV

    - name: Build with Gradle
      run: ./gradlew clean assembleRelease
      env:
        VERSION_CODE: ${{ env.VERSION_CODE }}
        VERSION_NAME: ${{ env.VERSION_NAME }}

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: tracker-release-${{ env.VERSION_NAME }}
        path: app/build/outputs/apk/release/*.apk
        retention-days: 30
